/* general class */
body{
    margin: 0px;
}
.center-text{
    text-align: center;
}

/* navbar */
a{
    text-decoration: none;
    color: white;
    float: left;
    text-align: center;
    padding: 12px;
}
a:hover
  {
    text-decoration:none;
    color: lightgrey;
    cursor:pointer;
   }

.navbar{
    overflow: hidden;
    background-color:black;
    padding: 10px 10px;
    margin: 0px;
}
.navbar-1{
    float: right;
}

/* home-area */
#home{
    color: white;
    margin: 0px;
    height: 180vh;
    background: url(./picture/background/ROBERT_YU_JETTISON_HERO-10.jpg) no-repeat left ;
}
#home p{
    color: white;
    size: 15px;
}
.header button{
    background: rgb(46, 41, 41);
    color: white;
    border: 1px solid rgb(110, 106, 106) ;
    padding: 10px 20px;
}
.header{
    padding-top: 40vh;
}
.header-home{
    margin-top: 0px	;
}

/* location-area */
.contact-us h1{
    padding: 10px 0px;
}

/* Gallery-area */
.gallery-img{
    width: 100%;
    height: 60vh;
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
.column{
    flex: 25%;
    max-width: 100%;
    padding: 0 4px;
  }
.column img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

/* brand-area */
.brands{
    text-align: center;
}
.logo{
    width: 40vw;
    height: 60vh;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item{
    flex-grow: 1;
}

.img{
    width: 25vw;
    height: 40vh;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

footer{
    background: black;
    color: white;
    padding: 10px 0;
}

footer p{
    color: orange;
}

.footer-a {
    text-decoration: none;
    color: orange;
    float:none ;
}

.footer-a:hover{
    color: grey;
}


@media screen and (max-width: 800px) {
    .column {
      flex: 40%;
      max-width: 50%;
    }
  }
@media screen and (max-width: 600px) {
    .column {
      flex: 50%;
      max-width: 100%;
    }
  }